/* Skitter styles */
.box_skitter {position:relative;width:1000px;height:300px;background:#fff;}
.box_skitter ul {display:none; }
.box_skitter .container_skitter {overflow:hidden;position:relative;}
.box_skitter .image {overflow:hidden;}
.box_skitter .image img {display:none;}
.box_skitter .box_clone {position:absolute;top:0;left:0;width:100px;overflow:hidden;display:none;z-index:1;}
.box_clone img {position:absolute;top:0;left:0; z-index:1;}
.prev_button {position:absolute;top:50%;left:10px;z-index:100;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:-25px;background:url(../images/prev.png) no-repeat left top;}
.box_skitter .next_button {position:absolute;top:50%;right:10px;z-index:100;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:-25px;background:url(../images/next.png) no-repeat left top;}
.box_skitter .info_slide {position:absolute;top:15px;left:15px;color:#fff;font:bold 11px arial;padding:5px 0 5px 5px;z-index:2;}
.box_skitter .info_slide .image_number {background:#333;float:left;padding:2px 10px;margin:0 5px 0 0;cursor:pointer;border:0;}
.box_skitter .info_slide .image_number_select {background:#cc0000;float:left;padding:2px 10px;margin:0 5px 0 0;border:0;}
.box_skitter .container_thumbs {position:relative;overflow:hidden;height:50px;}
.box_skitter .info_slide_thumb {overflow:hidden;height:45px;top:auto;bottom:-5px;left:-5px;padding:5px;}
.box_skitter .info_slide_thumb .image_number {overflow:hidden;width:70px;height:40px;position:relative;border:0;}
.box_skitter .info_slide_thumb .image_number img {position:relative;top:-50px;left:-50px;border:0;}
.box_skitter .box_scroll_thumbs {padding:0 10px;}
.box_skitter .box_scroll_thumbs .scroll_thumbs {position:absolute;bottom:60px;left:50px;background:#ccc;width:200px;height:10px;overflow:hidden;text-indent:-9999em;z-index:101;cursor:pointer;border:1px solid #333;}
.box_skitter .info_slide_dots {position:absolute;bottom:-40px;z-index:100;padding:5px 0 5px 5px;}
.box_skitter .info_slide_dots .image_number {background:#333;float:left;margin:0 5px 0 0;cursor:pointer;width:18px;height:18px;text-indent:-9999em;overflow:hidden;position:relative;border:0;}
.box_skitter .info_slide_dots .image_number_select {background:#cc0000;float:left;margin:0 5px 0 0;border:0;}
.box_skitter .label_skitter {z-index:50;position:absolute;bottom:0px;left:0px;display:none;}
.loading {position:absolute; top:50%; right:50%; z-index:10000; margin:-16px -16px;color:#fff;text-indent:-9999em;overflow:hidden;background:url(../images/ajax-loader.gif) no-repeat left top;width:32px;height:32px;}
.box_skitter_small {width:200px;height:200px;}
.label_skitter {z-index:50;position:absolute;bottom:0px;left:0px;background:url(../images/back-box-label-black.png) repeat-x left top;color:#fff;display:none;border-top:1px solid #000;}
.label_skitter p {}
.info_slide * {font-family:Consolas,arial,tahoma !important;}